# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Testing
coverage/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating systems
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/settings.json

# Temporary files
*.tmp
*.temp

# Virtual Environment folders (DO NOT COMMIT THESE)
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
FaceRecognitionTesting/DeepFace-Arc/test_images/
FaceRecognitionTesting/DeepFace-Arc/stored_embeddings/