APP_NAME="UniAttend Core API"
APP_ENVIRONMENT="development"

DB_URI=
DB_HOST="aws-0-ap-northeast-2.pooler.supabase.com"
DB_PORT=5432
DB_NAME="postgres"
DB_USER=
DB_PASSWORD=
DB_SSL_MODE="require"

DB_POOL_MIN_SIZE=1
DB_POOL_MAX_SIZE=5
DB_COMMAND_TIMEOUT_SECONDS=10

REDIS_URL="redis://localhost:6379/0"

TOKEN_SECRET=
